#MainMenu {
  align-items: center;
  background: rgba(var(--menu-panel-rgb), 1);
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  bottom: 5rem;
  display: none;
  left: -0.3rem;
  position: absolute;
  width: fit-content;
}

#MainMenu ul {
  align-items: stretch;
  display: flex;
  flex-flow: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

#MainMenu.is-visible {
  display: flex;
}

.MainMenuItem:hover {
  color: #fff;
}

.MainMenuItem {
  align-items: center;
  backface-visibility: hidden;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: flex;
  flex-flow: row;
  font-size: 12px;
  font-weight: 700;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  padding: 1.35rem 2rem;
  text-align: center;
  transition: opacity 0.15s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-transform: uppercase;
}

.enabled-icon,
.disabled-icon {
  display: block;
}
#MusicToggle[data-active="false"] .enabled-icon {
  display: none;
}

#MusicToggle[data-active="true"] .disabled-icon {
  display: none;
}

.MainMenuItem .text {
  margin-bottom: 4px;
}

#SoundToggle[data-active="false"] .enabled-icon {
  display: none;
}

#SoundToggle[data-active="true"] .disabled-icon {
  display: none;
}

#BonusBuyButton,
#GameInfoBtn,
#MusicToggle,
#SoundToggle {
  display: flex;
  align-items: center;
}

#BonusBuyButton:disabled {
  opacity: 0.3;
}

@media (width<600px) {
  .MainMenuItem {
    padding: 0.7rem 0.7rem 0.7rem 1.5rem;
    font-size: 8px;
  }
  #MainMenu {
    bottom: 3.5rem;
  }
  .MainMenuItem svg {
    width: 16px;
    height: 16px;
  }
}

.PayoutColumnItem__symbol img {
  width: 40px;
  height: 40px;
}
