body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#pixi-container {
  position: relative;
  max-width: 1920px;
  max-height: 1080px;
}

#pixi-container canvas {
  max-width: 900px;
  height: 100%;
}
